@import 'fonts';

@keyframes double-arrows {
    0% { bottom: -35px; }
    50% { bottom: -40px; }
    100% { bottom: -35px; }
}

@keyframes blip-online {
    0% { background-color: #228b22; }
    50% { background-color: transparent; }
    100% { background-color: #228b22; }
}

body {
    background: #edf3f6 url("../images/bg.png") no-repeat center top;
	font-family: 'Gotham Pro';
}

header {
    .navbar {
        border-bottom: 2px solid #006bff;

        .navbar-brand {
            font-size: 18px;
            color: #38414d;
            font-weight: 400;
            line-height: 24px;

            b {
                display: block;
                font-weight: 900;
                letter-spacing: 0.54px;
                color: #005aff;
            }
        }

        .navbar-collapse {
            .navbar-nav {
                .blue-btn {
                    height: 74px;
                    width: 195px;
                    margin-top: -8px;
                    margin-bottom: -8px;
                    
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    background-color: #006bff;

                    a {
                        font-size: 14px;
                        color: #ffffff!important;
                        letter-spacing: 0.42px;
                    }

                    a:after {
                        display: none!important;
                        transition: 0.7s;
                    }
                }

                .blue-btn:after {
                    content: "";
                    mask: url("../images/double-down.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                    background-color: #005aff;
                    width: 31px;
                    height: 26px;
                    margin: 0 auto;
                    display: block;
                    position: absolute;
                    bottom: -35px;

                    @media (max-width: 992px) {
                        display: none;
                    }

                    animation: double-arrows 2s infinite ease-in-out;
                }

                .nav-item {
                    .nav-link {
                        font-size: 14px;
                        color: #101927;
                        font-weight: 400;
                    }

                    .nav-link:after {
                        opacity: 0;
                        transition: 0.7s;
                    }
                }

                .nav-item.active,
                .nav-item:hover {
                    .nav-link:after {
                        opacity: 1;
                        content: "";
                        display: block;
                        margin: 0 auto;
                        background-color: #006bff;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

main {
    margin-bottom: 200px;

    h2.page-title {
        border-radius: 38px;
        background-color: #ffffff;
        color: #101927;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        width: max-content;
        margin: 0 auto;
        padding: 25px 38px;

        min-width: 338px;
        text-align: center;
    }

    .hello {
        position: relative;

        .back-text {
            z-index: 0;
            position: absolute;
            top: -85px;
            padding-left: 170px;

            text-shadow: 0 23px 46px rgba(0, 0, 0, 0.09);
            color: #edf3f6;
            font-size: 115px;
            font-weight: 900;


            @media (max-width: 992px) {
                display: none;
            }
        }

        .front-text {
            z-index: 2;
            position: relative;
            margin-top: 200px;

            @media (max-width: 992px) {
                margin-top: 100px;
            }

            h5 {
                color: #38414d;
                font-size: 12px;
                font-weight: 400;

                border-bottom: 3px solid #006bff;

                width: 55%;
                padding-bottom: 12px;
            }

            h2 {
                color: #101927;
                font-weight: 900;
                font-size: 43px;
                line-height: 50px;
                text-transform: uppercase;
                padding: 20px 0px 10px;
            }

            p {
                color: #5a5e63;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }

            .btn-play {
                color: #006bff;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                border-radius: 34px;
                border: 5px solid #006bff;
                width: 195px;
                padding: 17px 5px;
            }

            .btn-play:hover {
                color: #fff;
                background: #006bff;
            }

            a.vk {
                text-decoration: none;
                color: #767d87;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                display: block;
                margin-top: 80px;
            }

            a.vk:before {
                content: "";
                height: 2px;
                width: 195px;
                background-color: #767d87;
                opacity: 0.5;
                display: inline-block;
                position: relative;
                top: -5px;
                margin-right: 10px;
            }

            .girl {
                background: url("../images/girl-bg.png") no-repeat center;
                width: 583px;
                height: 583px;

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }

    .mon {
        .online-block {
            box-shadow: 0 23px 46px rgba(0, 0, 0, 0.09);
            background-color: #ffffff;
            padding: 20px;
            margin-top: 70px;

            span {
                color: #228b22;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
            }

            span:before {
                content: "";
                width: 17px;
                height: 17px;
                background-color: #228b22;
                border-radius: 50%;
                display: inline-block;
                margin-right: 8px;
                margin-bottom: -2px;
            }

            p {
                font-size: 22px;
                color: #006bff;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
            }

            .online {
                background-color: #006bff;
                line-height: 24px;
                font-weight: 500;
                font-size: 22px;
                color: #ffffff;
                text-align: center;
                padding: 14px 0px;
                margin-top: -14px;
            }

            .ip {
                font-size: 18px;
                line-height: 24px;
                color: #1e2d43;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        .online-block:hover {
            span:before {
                animation: blip-online 2s infinite ease-in-out;
            }
        } 

        .car {
            margin-top: 70px;
            background: url("../images/online-car.png") no-repeat center;
            background-size: contain;
            width: 686px;
            height: 323px;

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    .how {
        margin-top: 80px;

        .dog {
            background: url("../images/how-bg.png") no-repeat center;
            width: 100%;
            height: 512px;
            background-size: contain;
            position: relative;

            .how-btn {
                background: url("../images/how-btn.svg") no-repeat center;
                width: 145px;
                height: 75px;
                display: block;
                background-size: contain;
                position: absolute;
                bottom: 0px;
                right: 0px;
                bottom: 30px;
                right: 50px;            
            }
        }

        ul.steps {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                display: block;
                margin: 15px 0px;

                a {
                    border-radius: 35px;
                    background-color: #dae8f7;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 17px 5px;
                    color: #0049ff;
                }
            }

            li.active {
                a {
                    background-color: #0049ff;
                    color: #edf3f6;
                }
            }
        }

        .tab {
            display: none;

            h3 {
                color: #101927;
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
            }

            p {
                color: #242d3b;
                font-size: 14px;
                font-weight: 400;
            }

            a.btn {
                border-radius: 35px;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                padding: 17px 5px;
                min-width: 197px;
                background-color: #0049ff;
                color: #edf3f6;
            }

            a.btn:hover {
                color: #0049ff;
                background-color: #dae8f7;
            }
        }

        .tab.show {
            display: block;
        }
    }

    .vk-community {
        background: url("../images/vk-bg.png") no-repeat center top;
        min-height: 388px;
        position: relative;
        margin-top: 240px;

        .container {
            min-height: 358px;
        }
        
        h3 {
            color: #e6eef6;
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
        }

        .avatar {
            width: 180px;
            height: 180px;
        }

        span {
            color: #edf3f6;
            font-size: 12px;
            font-weight: 400;
        }

        p {
            color: #edf3f6;
            font-size: 24px;
            font-weight: 700;
        }

        .members {
            a.member {
                display: inline-block;
                background-color: #edf3f6;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 7px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            a.member:first-child {
                margin-left: 0;
            }
        }

        .subscribe-btn {
            position: absolute;
            bottom: -50px;
            right: 85px;
            display: block;
            background: url("../images/subscribe-btn.png") no-repeat center;
            width: 312px;
            padding: 30px 10px;
            text-align: center;
            color: #e6eef6;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
        }
    }

    .donate {
        margin-top: 140px;
        margin-bottom: 140px;
        
        .man {
            background: url("../images/donate-man.png") no-repeat center;
            width: 448px;
            height: 412px;
            display: block;
        }

        .btn.discounts {
            background: url("../images/discounts=btn.png") no-repeat center;
            width: 409px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            border-radius: 0;
            padding: 12px 10px;
            margin-top: 5px;
        }

        form {
            background: url("../images/form-bg.png") no-repeat center;
            padding: 50px 60px;

            h1 {
                color: #253542;
                font-size: 24px;
                font-weight: 900;
                margin-bottom: 50px;
            }

            .form-group {
                padding: 0 50px;

                label {
                    color: #253542;
                    font-size: 14px;
                    font-weight: 400;
                }

                input {
                    background-color: #e1e6e9;
                    border-radius: 0;
                    color: #0079ff;
                    font-size: 14px;
                    height: 47px;
                }
            }

            .btn-continue {
                min-width: 275px;
                background-color: #006bff;
                color: #e6eef6;
                font-size: 14px;
                font-weight: 700;
                border-radius: 0;
                padding: 12px 10px;
                margin-top: 55px;
            }
        }
    }
}

footer {
    background-color: #0f1520;
    height: 148px;
    position: relative;

    p {
        color: #edf3f6;
        font-size: 12px;
        font-weight: 400;
        margin: 5px 0px;
    }

    .logo {
        display: inline-block;
        color: #edf3f6;
        font-weight: 900;
        font-size: 53px;
        text-transform: uppercase;
    }

    .socials {
        display: inline-block;

        a {
            text-decoration: none;
            font-size: 24px;
            color: #edf3f6;
            font-weight: 400;
            margin: 0 10px;
        }
    }
}

footer.helicopter {
    .container:before {
        content: "";
        background: url("../images/helicopter.png") no-repeat center;
        width: 295px;
        height: 190px;
        position: absolute;
        top: -150px;
        left: 100px;
    }
}

.modal {
    .modal-dialog {
        border-radius: 0;

        .modal-content {
            background-color: #e9eff2;
            border-radius: 0;

            .discount-item {
                background: url("../images/discount-item-bg.png") no-repeat center;
                background-size: contain;
                width: 100%;
                min-height: 142px;
                margin: 15px 0px;

                .jetpack, .case, .coin {
                    margin-top: 10px;
                    background: url("../images/jetpack.png") no-repeat center;
                    background-size: contain;
                    width: 100%;
                    min-height: 135px;
                }
                
                .case {
                    background-image: url("../images/case.png");
                }
                
                .coin {
                    background-image: url("../images/coin.png");
                }

                p {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            .btn-close {
                background-color: #ffffff;
                border-radius: 0;
                width: 275px;
                padding: 12px 10px;
                color: #0169ea;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

.parallax-items {
    @media (max-width: 992px) {
        display: none;
    }

    .obj {
        background: url("../images/square.svg") no-repeat center;
        background-size: contain;
        width: 76px;
        height: 76px;
        position: absolute;
        z-index: 50;
    }

    .square {
        background-image: url("../images/square.svg");
    }

    .roundation {
        background-image: url("../images/roundation.svg");
    }

    .triangle {
        background-image: url("../images/triangle.svg");
    }
    
    // 

    .obj:nth-child(1) {
        width: 76px;
        height: 76px;
        top: 130px;
        left: 50%;
    }

    .obj:nth-child(2) {
        width: 30px;
        height: 30px;
        top: 110px;
        left: 20%;
    }

    .obj:nth-child(3) {
        width: 40px;
        height: 40px;
        top: 520px;
        left: 5%;

        transform: rotate(-50deg);
    }

    .obj:nth-child(4) {
        width: 30px;
        height: 30px;
        top: 540px;
        left: 40%;
    }

    .obj:nth-child(5) {
        width: 30px;
        height: 30px;
        top: 340px;
        right: 5%;
    }

    .obj:nth-child(6) {
        width: 13px;
        height: 13px;
        top: 900px;
        left: 20%;
    }

    .obj:nth-child(7) {
        width: 18px;
        height: 18px;
        top: 930px;
        left: 30%;
    }

    .obj:nth-child(8) {
        width: 13px;
        height: 13px;
        top: 980px;
        left: 48%;
    }

    .obj:nth-child(9) {
        width: 17px;
        height: 18px;
        top: 920px;
        left: 70%;

        transform: rotate(50deg);
    }

    .obj:nth-child(10) {
        width: 13px;
        height: 13px;
        top: 900px;
        left: 80%;
    }

    .obj:nth-child(11) {
        width: 33px;
        height: 33px;
        top: 940px;
        left: 95%;

        transform: rotate(10deg);
    }

    .obj:nth-child(11) {
        width: 34px;
        height: 30px;
        top: 1100px;
        left: 50%;

        transform: rotate(-20deg);
    }

    .obj:nth-child(12) {
        width: 17px;
        height: 18px;
        top: 1200px;
        left: 5%;
    }

    .obj:nth-child(13) {
        width: 13px;
        height: 13px;
        top: 1120px;
        left: 15%;
    }

    .obj:nth-child(14) {
        width: 17px;
        height: 17px;
        top: 1250px;
        left: 35%;
    }

    .obj:nth-child(15) {
        width: 13px;
        height: 13px;
        top: 1320px;
        left: 55%;
    }

    .obj:nth-child(16) {
        width: 34px;
        height: 30px;
        top: 1230px;
        left: 65%;

        transform: rotate(-10deg);
    }

    .obj:nth-child(17) {
        width: 13px;
        height: 13px;
        top: 1190px;
        left: 90%;
    }
}

.fixed-menu {
    position: fixed;
    bottom: 168px;
    right: 20px;
    z-index: 3;

    a {
        display: block;
        background: url("../images/owner-fixed-btn.svg") no-repeat center;
        height: 62px;
        width: 217px;
        color: transparent;
        text-align: center;
        margin: 10px 0;
    }

    a.yt {
        background-image: url("../images/youtube-fixed-btn.svg");
    }

    a.support {
        background-image: url("../images/support-fixed-btn.svg");
    }
}